name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build and test

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        ocaml-compiler:
          - ocaml-base-compiler.4.14.0

    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          dune-cache: ${{ matrix.os != 'macos-latest' }}

      - name: Install dependencies
        run: opam install --deps-only --with-test .

      - name: Install ocamlformat
        run: opam install ocamlformat.0.21.0

      - name: Build project
        run: opam exec -- dune build @install

      - name: Run tests
        run: opam exec -- dune test
        if: matrix.os == 'ubuntu-latest'

      - name: Format code
        run: opam exec -- dune build --auto-promote @fmt
        if: runner.os == 'Linux'
